* {
    box-sizing: border-box;
   
  }
  .contanor1 {
    display: grid;
    
    grid-template-columns: auto auto auto auto auto auto ;
    grid-gap: 1rem;

    height: 25rem;
    text-align: center;
  }
 

  
  .item:first-child{
    grid-column-start: 1;
    grid-column-end: 7;

  }

  .item:nth-child(2){
      grid-column:1 /span 3;

  }
  .item:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;

  }
  .item:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    
  }
  .item:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
    
  }


  .item:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
    
  }
  
  .item:nth-child(7){
      grid-column:1 /span 2;
  }
  .item:nth-child(8){
      grid-column:3 /span 2;
     
  }
  .item:nth-child(9){
      grid-column:5 /span 2;
      
  }



  .contror2{

    display: grid;
    
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
    grid-gap: 1rem;

    height: 4rem;
    text-align: center;
    margin-top: 10px;

  }
.item{
  background-color: yellow;

}
.contact{
  background-color: yellow;
}

  